.wrapper
  = render 'shared/side_bar'
  .haikei
    .migisita
      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit
      .main-header__left-box test_group
      %ul.main-header__left-box__member-list aaaa
      .matome
        .message test_uer
        %p.message__upper-info__date 2019/10/26(sat) 11:11:04
      %p.mesaage__text これはテストです
      .matome
        .message test_uer
        %p.message__upper-info__date 2019/10/26(sat) 11:11:04
      %p.mesaage__text これはテストです
      %footer.itibannsita
        %input.input-box__text{:placeholder => "type a message", :type => "text"}/
        %i.fa.fa-image
        %button.toukou{:type => "button"} send
